---
import ProjectCard from '@/components/ProjectCard.astro';
import { getLangFromUrl } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const projects = await getCollection('projects', ({ id }) => {
  return id.startsWith(`${lang}/`);
});
---

<Layout title="Projects">
  <section class="relative w-full top-1/3">
    <h1>Projects</h1>
    <div>
      <ul>
        {
          projects.map((project) => (
            <li class="mb-12">
              <ProjectCard
                title={project.data.title}
                description={project.data.description}
                image={project.data.image}
                url={project.data.url}
                github={project.data.github}
                tags={project.data.tags}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
