---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  description: string;
  image?: string;
  url?: string;
  github?: string;
  tags?: string[];
}

const { title, description, image, url, github, tags } = Astro.props;
---

<div>
  <div class="p-2 flex flex-col gap-2">
    <h3 class="text-lg font-bold">{title}</h3>
    <p>{description}</p>
    <div class="flex gap-2">
      {
        tags &&
          tags.map((tag) => (
            <span class="bg-gray-200 text-gray-800 px-2 py-1 rounded">
              {tag}
            </span>
          ))
      }
    </div>
    <div class="flex gap-2">
      {
        url && (
          <a href={url} class="text-blue-500 hover:underline">
            View
          </a>
        )
      }
      {
        github && (
          <a href={github} class="text-blue-500 hover:underline">
            GitHub
          </a>
        )
      }
    </div>
  </div>
  {
    image && (
      <Image
        src={image}
        alt={title + ' project thumbnail'}
        width="100"
        height="100"
      />
    )
  }
</div>
