---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  description: string;
  imagePath: string;
  url?: string;
  github?: string;
  tags?: string[];
}

const { title, description, imagePath, url, github, tags } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}'
);
if (imagePath && !images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div class="group/card grid grid-cols-12 gap-4 items-center">
  <div
    class="flex flex-col justify-center gap-2 order-1 row-start-1 row-span-full col-start-1 col-span-full md:col-end-8 xl:col-end-7 z-20 p-4 md:p-6 xl:p-8 md:!pr-0"
  >
    <h2>{title}</h2>
    <p class="m-0">{description}</p>
    <div class="flex flex-wrap gap-2">
      {
        tags &&
          tags.map((tag: string) => (
            <span class="bg-mint text-frame pt-1 px-2 rounded">{tag}</span>
          ))
      }
    </div>
    <div class="flex gap-2 py-1">
      {
        github && (
          <a href={github}>
            <Icon name={'mingcute:github-line'} class={'w-6 h-6'} />
          </a>
        )
      }
      {
        url && (
          <a href={url}>
            <Icon name={'material-symbols:open-in-new'} class={'w-6 h-6'} />
          </a>
        )
      }
    </div>
  </div>
  <div
    class="w-full h-full row-start-1 row-span-full col-start-1 col-span-full group-hover/card:bg-frame/20 group-hover/card:max-md:backdrop-blur-[2px] z-10 rounded"
  >
  </div>
  <Image
    class="opacity-20 grayscale group-hover/card:grayscale-0 group-hover/card:opacity-100 group-hover/card:max-md:opacity-50 -z-10 m-[0_auto] row-start-1 row-span-full col-start-1 md:col-start-8 xl:col-start-7 col-end-[-1] p-4 md:p-6 xl:p-8 md:!pl-0 max-h-64"
    src={images[imagePath]()}
    alt={title + ' thumbnail '}
  />
</div>
